# Ignore specefic folders
Aptos/
embeddings/
heatmaps/
infscores/
logs/
masked/
overlays/
params/
Retina/
self_supervised/
slurm_files/
images/
notebooks/
# Ignore all Jupyter notebooks
*.ipynb

# Ignore specific files
*.sh
mask_img.npy
slurm-1022730.out
tru_mask.npy














