numpy
matplotlib
pandas
pillow
scipy
joblib
typing_extensions
opencv-python
opencv-python-headless
json5
jsonargparse
jsonschema
jsonschema-specifications
datasets
dvc-data
importlib-metadata
stack-data
tzdata
unicodedata2
dateutils
imutils
inflate64
iniconfig
inquirer
iopath
ipykernel
ipython
ipython-genutils
python-dateutil
psutil

torch
torchvision
torchaudio
torchmetrics
torchsummary
pytorchvideo
pytorch-disentanglement-datasets
pytorch-model-summary

lightning

tensorboard
tensorboard-data-server
tensorboardX
